@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    background-image: url('pup_mabini_campus,_nallrc.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(255, 255, 255, 0.5);
    width: 35%;
    height: 100vh;
    display: flex;
    padding: .1px;
    align-items: center;
    justify-content: center;
}

.frame {
    background-color: #800000;
    width: 75%;
    height: 75%;
    border-radius: 19px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

img {
    margin-top: 5%;
    width: 15vh;
    height: 15vh;
}

.container .frame h3 {
    margin: 5% 10%;
    font-weight: 300;
    font-size: 2.3vh;
    color: #FFFFFF;
    text-align: center;
}

.student-number {
    border: none;
    padding: 3.5%;
    width: 78%;
    border-radius: 6px;
    font-size: 2.5vh;
}

.password {
    margin-top: 3.5%;
    border: none;
    padding: 3.5%;
    width: 78%;
    border-radius: 6px;
    font-size: 2.5vh;
}

.cmdSignIn {
    margin-top: 3.5%;
    background-color: #000000;
    border: none;
    padding: 4%;
    width: 40%;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 2.8vh;
}

.cmdSignIn:hover {
    background-color: #808B96;
}
  
.cmdSignIn:active {
    background-color: #566573;
}

.cmdForgotPass {
    margin-top: 3.5%;
    background: transparent;
    border: none;
    padding: 2%;
    width: 78%;
    border-radius: 8px;
    color: #FFDF00;
    font-size: 2.2vh;
    font-weight: 550;
}

.cmdForgotPass:hover {
    color: #fff4ad;
    background-color: transparent;
}

.container .frame h5 {
    font-weight: 300;
    font-size: 2.2vh;
    color: #FFFFFF;
    text-align: center;
    margin: 2% 10%;
}

.container .frame h6 {
    font-weight: 300;
    font-size: 1.8vh;
    color: #FFFFFF;
    text-align: center;
    margin: 2% 10%;
}

.container .frame a:link {
    color: #FFDF00;
    background-color: transparent;
    text-decoration: none;
}
  
.container .frame a:visited {
    color: #FF8A65;
    background-color: transparent;
    text-decoration: none;
}
  
.container .frame a:hover {
    color: #4FC3F7;
    background-color: transparent;
    text-decoration: underline;
}
  
.container .frame a:active {
    color: #DCEDC8;
    background-color: transparent;
    text-decoration: underline;
}
