@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    background-image: url('pup_mabini_campus,_nallrc.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

.shpContainer {
    background: rgba(255, 255, 255, 0.5);
    width: 35%;
    height: 100vh;
    display: flex;
    padding: .1px;
    align-items: center;
    justify-content: center;
}

.secFrame {
    background-color: #800000;
    width: 75%;
    height: 75%;
    border-radius: 19px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

img {
    margin-top: 5%;
    width: 15vh;
    height: 15vh;
}

.shpContainer .secFrame h3 {
    margin: 5% 10%;
    font-weight: 300;
    font-size: 2.3vh;
    color: #FFFFFF;
    text-align: center;
}

#txtUniqueIdentifier {
    border: none;
    padding: 3.5%;
    width: 78%;
    border-radius: 6px;
    font-size: 2.5vh;
}

#txtPassword {
    margin-top: 3.5%;
    border: none;
    padding: 3.5%;
    width: 78%;
    border-radius: 6px;
    font-size: 2.5vh;
}

.cmdSignIn {
    margin-top: 3.5%;
    background-color: #000000;
    border: none;
    padding: 4%;
    width: 40%;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 2.8vh;
    cursor: pointer;
}

.cmdSignIn:hover {
    background-color: #808B96;
}
  
.cmdSignIn:active {
    background-color: #566573;
}

.cmdForgotPass {
    margin-top: 3.5%;
    background: transparent;
    border: none;
    padding: 2%;
    width: 78%;
    border-radius: 8px;
    color: #FFDF00;
    font-size: 2.2vh;
    font-weight: 550;
    cursor: pointer;
}

.cmdForgotPass:hover {
    color: #fff4ad;
    background-color: transparent;
}

.shpContainer .secFrame h5 {
    font-weight: 300;
    font-size: 2.2vh;
    color: #FFFFFF;
    text-align: center;
    margin: 2% 10%;
}

.shpContainer .secFrame h6 {
    font-weight: 300;
    font-size: 1.8vh;
    color: #FFFFFF;
    text-align: center;
    margin: 2% 10%;
}

.shpContainer .secFrame a:link {
    color: #FFDF00;
    background-color: transparent;
    text-decoration: none;
}
  
.shpContainer .secFrame a:visited {
    color: #FF8A65;
    background-color: transparent;
    text-decoration: none;
}
  
.shpContainer .secFrame a:hover {
    color: #4FC3F7;
    background-color: transparent;
    text-decoration: underline;
}
  
.shpContainer .secFrame a:active {
    color: #DCEDC8;
    background-color: transparent;
    text-decoration: underline;
}

.fsubPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38%;
    padding: 20px 30px;
    background: #D9D9D9;
    display: none;
    flex-direction: column;
    border-radius: 19px;
}

.disabled {
    pointer-events: none; /* Disables mouse clicks and other events */
}
  

.fsubPopup #cmdClose {
    position: absolute;
    margin-top: 5px;
    right: 20px;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}

.fsubPopup h2 {
    margin: 8% 8%;
    font-size: 4.5vh;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

#txtVerCode {
    border: none;
    padding: 3.5%;
    width: 78%;
    border-radius: 6px;
    font-size: 2.5vh;
    align-self: center;
}

.cmdConfirmVerCode {
    margin-top: 3.5%;
    background-color: #DAA520;
    border: none;
    padding: 4%;
    width: 40%;
    align-self: center;
    border-radius: 8px;
    color: #800000;
    font-size: 3.5vh;
    cursor: pointer;
}
